@model HotelAbshar.Domain.Entities.Reservation.travelerReservation
@{
    ViewData["Title"] = "EditTraveler";
    Layout = "~/Areas/HotelAdmin/Views/Shared/_AdminHotelLayout.cshtml";
}

@using HotelAbshar.Common.Convertors
<div class="col-md-6">
    <div class="card" style="height: 942px;">
        <div class="card-header">
            <div class="card-title-wrap bar-primary">
                <h4 class="card-title" id="basic-layout-tooltip"> ویرایش مسافر</h4>
            </div>

        </div>
        <div class="card-body">
            <div class="px-3">

                <form id="formEditTraveler" class="form" asp-action="EditTraveler" method="post">
                    <input type="hidden" asp-for="ReservationID" />
                    <input type="hidden" asp-for="UserReservationID" />


                    <div class="form-body">

                        <div class="form-group">
                            <label for="issueinput1">نام</label>
                            <input type="text" id="Name" asp-for="Name" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Issue Title">
                        </div>

                        <div class="form-group">
                            <label for="issueinput2">نام خانوادگی</label>
                            <input type="text" id="Family" class="form-control" asp-for="Family" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Opened By">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="issueinput3">جنسیت </label>

                                    <select asp-for="Sex">
                                        <option value="False">خانم</option>
                                        <option value="True">آقا</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="issueinput4">شماره ملی </label>
                                    <input type="text" asp-for="NationalID" id="NationalID" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">

                                </div>
                            </div>
                        </div>




                    </div>

                    @if (ViewBag.NoIsValid==true)
                    {
                        <div class="alert alert-danger">لطفا تمامی موارد را وارد کنید</div>
                    }

                    <div class="form-actions">

                        <input type="submit" value="ذخیره" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    const formEditTraveler = document.querySelector('#formEditTraveler');
    formEditTraveler.addEventListener('submit', event => {

        let Name = document.getElementById('Name').value;
        let Family = document.getElementById('Family').value;
        let NationalID = document.getElementById('NationalID').value;

        if (Name == "" || Family == "" || NationalID=="") {
            alert("لطفا تمامی موارد را وارد کنید");
            event.preventDefault();
        }



        // actual logic, e.g. validate the form
        console.log('Form submission cancelled.');
    });

</script>