@{
    ViewData["Title"] = "خانه";
}
<div style="background-color:white" class="theme-page-section theme-page-section-xxl">
    <div class="container">
        <div class="theme-page-section-header">
            <h6 class="theme-page-section-title">توریست شوید!</h6>
            <p class="theme-page-section-subtitle">تورهای سفرآنلاین ,به یادماندنی وجذاب</p>
        </div>
        <div class="row row-col-gap" data-gutter="10">
            <div class="col-md-4 ">
                <div class="banner _h-40vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in">
                    <div class="banner-bg" style="background-image:url(/SiteTemplate/img/img/taj-mahal-india.jpg);"></div>
                    <div class="banner-mask"></div>
                    <a class="banner-link" href="#"></a>
                    <div class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad">
                        <h5 class="banner-title"> هند</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="banner _h-40vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in">
                    <div class="banner-bg" style="background-image:url(/SiteTemplate/img/img/chine.jpg);"></div>
                    <div class="banner-mask"></div>
                    <a class="banner-link" href="#"></a>
                    <div class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad">
                        <h5 class="banner-title"> چین</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="banner _h-33vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in">
                    <div class="banner-bg" style="background-image:url(/SiteTemplate/img/img/Dubai.jpg);"></div>
                    <div class="banner-mask"></div>
                    <a class="banner-link" href="#"></a>
                    <div class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad">
                        <h5 class="banner-title"> دبی</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="banner _h-33vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in">
                    <div class="banner-bg" style="background-image:url(/SiteTemplate/img/img/logs-at-moraine-lake.jpg);"></div>
                    <div class="banner-mask"></div>
                    <a class="banner-link" href="#"></a>
                    <div class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad">
                        <h5 class="banner-title">کانادا</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="banner _h-33vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in">
                    <div class="banner-bg" style="background-image:url(/SiteTemplate/img/img/beach-coast-daylight-landscape-461969_400x360.jpg);"></div>
                    <div class="banner-mask"></div>
                    <a class="banner-link" href="#"></a>
                    <div class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad">
                        <h5 class="banner-title">پرتغال</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="banner _h-33vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in">
                    <div class="banner-bg" style="background-image:url(/SiteTemplate/img/img/batumalesia.jpg);"></div>
                    <div class="banner-mask"></div>
                    <a class="banner-link" href="#"></a>
                    <div class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad">
                        <h5 class="banner-title">مالزی</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>