
@model string
<div style="direction: rtl; padding: 20px">

    <p>@Model عزیز!  </p>
   <p>رزرو شما یا مسافرانتان از ظرف هتل ویرایش شده اند</p>
    <p>
        <a href="https://localhost:44358/UserPanel/Home/Reserves">جزییات بیشتر</a>
    </p>
</div>