@model List<HotelAbshar.Domain.Entities.Hotels.Hotel> 
@{
    ViewData["Title"] = "UserHotel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int UserID = ViewBag.UserID;
}
@inject HotelAbshar.Application.Interfaces.IHotelService _hotelService
<div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
        @foreach (var item in Model)
        {
            <div class="card-body">
                <div class="card-block">
                    <img class="card-img img-fluid mb-3" src="~/Hotels/SliderHotelImages/@_hotelService.GetFirstImageByHotelID(item.HotelID)" alt="Card image cap">
                    <h4 class="card-title">@item.HotelName </h4>
                 <a class="btn btn-danger" href="/Admin/Users/DeleteUserHotel?userId=@UserID&hotelId=@item.HotelID">حذف</a>
                  
                </div>
            </div>
        }
    </div>
</div>

