@model Tuple<List<HotelAbshar.Domain.Entities.News.News>,int>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageId = ViewBag.pageId;
    string filterTitle = ViewBag.filterTitle;
}
<link rel="stylesheet" href="~/SiteTemplate/css/NewsStyle/NewsStyle.css"/>

<div class="container">

    

    <div class="posts">


        @foreach (var item in Model.Item1)
        {
        
            <div class="post">
                <div class="post__image post__image--1"><img src="~/News/ShowSiteImage/@item.ImageSrc" /></div>
                <div class="post__content">
                    <div class="post__inside">
                        <h3 class="post__title">@item.Title</h3>
                        <p class="post__excerpt">
                            @item.ShortDescription
                        </p>
                        <a href="/News/ShowNews/@item.NewsID" class="btn--accent post__button">
                            بیشتر بخوانبد
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="pagination">
        @*<a href="#">&laquo;</a>

            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>*@
        @for (int i = 1; i <= Model.Item2 + 1; i++)
        {
            <a class="@((i==pageId)?"active":"")" onclick="ChangeNewsPage(@i)">@i</a>
        }
    </div>
</div>

