
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="theme-page-section theme-page-section-gray theme-page-section-lg">
    <div class="container">

        <div class="col-md-2-5">
            <partial name="_SideBar" />
        </div>
        <div class="col-md-2-5">
            <div class="row row-col-gap" data-gutter="20">
                <form id="formEditPassword" asp-action="ChangePassword" method="post">
                    <div class="form-group">
                        <label>رمز عبور فعلی</label>
                        <input name="currentPassword" id="currentPassword" class="form-control theme-footer-subscribe-form-control" type="text">
                    </div>  <div class="form-group">
                        <label>رمز عبور جدید</label>
                        <input name="newPassword" id="newPassword" class="form-control theme-footer-subscribe-form-control" type="text">
                    </div>  <div class="form-group">
                        <label>تکرار رمز عبور جدید</label>
                        <input id="rePassword" name="rePassword" class="form-control theme-footer-subscribe-form-control" type="text">
                    </div>
                    @if (ViewBag.wrongCurrentPassword==true)
                    {
                        <p class="text text-danger"> رمز فعلی اشتباه است</p>
                    }
                    <input type="submit" style="margin-top:7px" value="ثبت " class="btn btn-primary-invert btn-shadow text-upcase theme-footer-subscribe-btn" />

                </form>
            </div>
        </div>
    </div>

</div>
<script>
    const formEditPassword = document.querySelector('#formEditPassword');
    formEditPassword.addEventListener('submit', event => {
        let currentPassword = document.getElementById('currentPassword').value;
        let newPassword = document.getElementById('newPassword').value;
        let rePassword = document.getElementById('rePassword').value;
       


        if (rePassword == "" || currentPassword == "" || newPassword=="") {
            alert("لطفا تمامی موارد را وارد کنید");
            event.preventDefault();
        }
        if (rePassword != newPassword) {
            alert("تکرار رمز عبور نادرست است");
            event.preventDefault();
        }

       

        // actual logic, e.g. validate the form
        console.log('Form submission cancelled.');
    });

</script>
