@model HotelAbshar.Domain.Entities.Hotels.Feature
@{
    ViewData["Title"] = "ویرایش ویژگی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section id="basic-input-group">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">ویرایش کردن ویژگی</h4>
                    </div>
                </div>
                <form id="formEditFeature" asp-action="Edit" method="post">
                    <div class="card-body">
                        <div class="card-block">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"></span>
                                </div>
                                <input type="hidden" asp-for="FeatureID" />
                                <input type="text" id="featureTitle" class="form-control" asp-for="FeatureTitle" placeholder="نام ویژگی" aria-label="Username" aria-describedby="basic-addon1">

                            </div>                         @if (ViewBag.NoIsValid == true)
                            {
                                <div class="alert alert-danger">مقادیر را وارد کنید</div>
                            }
                            <br>
                            <input type="submit" value="ویرایش کن" class="btn btn-success" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>
<script>
    const formEditFeature = document.querySelector('#formEditFeature');
    formEditFeature.addEventListener('submit', event => {
        let featureTitle = document.getElementById('featureTitle').value;



        if (featureTitle == "") {
            alert("لطفا تمامی موارد را وارد کنید");
            event.preventDefault();
        }

        // actual logic, e.g. validate the form
        console.log('Form submission cancelled.');
    });

</script>


