@model HotelAbshar.Application.DTOs.UserViewModels.ForgotPasswordViewModel 
@{
    ViewData["Title"] = "فراموشی رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="texto">فراموشی رمز عبور</p>
<div class="Registro">
    <form id="formFotgotPassword" asp-action="ForgotPassword" method="post">

        <span class="fontawesome-envelope-alt"></span><input type="text" id="emailForgotPassword" asp-for="Email" placeholder="ایمیل" autocomplete="off">

        @if (ViewBag.UserNull == true)
        {
            <div class="alert alert-danger">ایمیل در سایت موجود نیست</div>
        }
        @if (ViewBag.NoIsValid == true)
        {
            <div class="alert alert-danger">اطلاعات به درستی وارد نشده اند</div>
        }

        <input type="submit" value="ارسال ایمیل" title="ثبت نام در سایت">
    </form>
</div>




