@model HotelAbshar.Application.DTOs.UserViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p class="texto">تغییر رمز عبور</p>
<div class="Registro">
    <form id="formResetPassword" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="ActivationCode" />
        <span class="fontawesome-envelope-alt"></span><input type="password" id="password" asp-for="Password" placeholder="رمز عبور" autocomplete="off">
        <span class="fontawesome-envelope-alt"></span><input type="password" id="rePassword" asp-for="RePassword" placeholder="رمز عبور" autocomplete="off">

        @if (ViewBag.WrongRePassword == true)
        {
            <div class="alert alert-danger">تکرار رمز عبور اشتباه است</div>
        }  
        @if (ViewBag.NoIsValid == true)
        {
            <div class="alert alert-danger">اطلاعات به درستی وارد نشده اند</div>
        }
        <input type="submit" value="ثبت" title="">
    </form>
</div>

<script>
    const formResetPassword = document.querySelector('#formResetPassword');
    formResetPassword.addEventListener('submit', event => {
      
        let password = document.getElementById('password').value;
        let rePassword = document.getElementById('rePassword').value;

        if (password == "" || rePassword == "") {
            alert("لطفا تمامی موارد را وارد کنید");
            event.preventDefault();
        }
        if (password != rePassword) {
            alert("رمز عبور و تکرار آن برابر نیستند");
            event.preventDefault();
        }
        

        // actual logic, e.g. validate the form
        console.log('Form submission cancelled.');
    });

</script>

